@use '../util' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: var(--body-bg), var(--body-gradient);
  box-sizing: border-box;
  color: var(--clr-neutral-0);
  font-family: var(--ff-primary);
}

html {
  background-repeat: no-repeat;
  background-position: top center;
}

body {
  position: relative;
  background-image: var(--footer-bg);
  background-repeat: no-repeat;
  background-position: bottom 0 right rem(-127);
  background-size: auto;
  height: 100vh;
  width: 100%;
  padding-block-start: rem(142);
  padding-inline: rem(24);

  @include breakpoint(medium) {
    padding-block-start: rem(132);
  }
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: rem(18);
  font-weight: 700;
  letter-spacing: rem(6.14);
  max-width: rem(300);
  margin-block-end: rem(51);
  margin-inline: auto;

  @include breakpoint(medium) {
    font-size: rem(22);
    letter-spacing: rem(7.5);
    max-width: 100%;
    margin-block-end: rem(104);
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
