@use '../util' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(70);
  height: rem(92);
}

.timer {
  &__number {
    font-size: rem(36);
    font-weight: 700;
    color: var(--clr-primary-red);
    height: rem(70);
    width: 100%;
  }

  &__label {
    color: var(--clr-primary-gray);
    text-transform: uppercase;
    font-size: rem(7);
    font-weight: 700;
    letter-spacing: rem(2.96);
  }
}
