@use '../util' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: rem(70);
  height: rem(92);

  @include breakpoint(medium) {
    width: rem(140);
    height: rem(184);
  }
}

.timer {
  &__number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(66.27);
    background-color: var(--clr-neutral-100);
    border-radius: rem(4);
    font-size: rem(36);
    letter-spacing: rem(-1.08);
    text-align: center;
    font-weight: 700;
    color: var(--clr-primary-red);
    height: rem(70);
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      top: rem(8);
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: rem(4);
      background-color: #191a23;
      z-index: -1;
    }

    @include breakpoint(medium) {
      height: rem(141);
      font-size: rem(80);
      letter-spacing: rem(-2.4);
      border-radius: rem(8);

      &::after {
        top: rem(10);
        border-radius: rem(8);
      }
    }
  }

  &__label {
    color: var(--clr-primary-gray);
    text-transform: uppercase;
    font-size: rem(7);
    font-weight: 700;
    letter-spacing: rem(2.96);

    @include breakpoint(medium) {
      font-size: rem(14);
      letter-spacing: rem(5.92);
    }
  }
}
