@use '../util' as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(32);
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
    }

    &-link {
      display: block;
      color: var(--clr-primary-gray);
      transition: var(--transition);

      &:hover {
        color: var(--clr-primary-red);
      }
    }
  }

  .attribution {
    text-align: center;
    font-size: rem(14);
    color: var(--clr-primary-gray);
    margin-block: rem(16);

    a:link {
      position: relative;
      color: var(--clr-primary-red);
      text-decoration: none;
      padding-block-end: rem(4);

      &::before,
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        width: 0;
        border-bottom: rem(2) solid currentColor;
        transition: var(--transition);
      }

      &::before {
        right: 50%;
      }

      &::after {
        left: 50%;
      }

      &:hover::before,
      &:hover::after {
        width: 50%;
      }
    }

    a:visited {
      color: var(--clr-primary-red);
    }
  }
}
